@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Rubik+Bubbles&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.wrapper {
  background-color: black;
  min-height: 100vh;
  min-width: 100vw;
  color: gold;
  padding: 2%;
}

.form-container {
  min-height: 500px;
  max-width: 500px;
  background-color: rgba(211, 211, 211, 0.1);
  border-radius: 10px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-be;
  align-content: center;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
}

.link {
  padding: 5px 80px;
  background-color: rgba(255, 0, 0, 0.16);
  cursor: pointer;
  position: relative;
  font-size: 20px;
}

.link::after {
  content: "";
  width: 0;
  height: 3px;
  background: gold;
  left: 0;
  bottom: -8px;
  position: absolute;
}

.link.active::after {
  width: 100%;
}

.link.active {
  background-color: rgba(0, 128, 0, 0.179);
}

.login-form, .signup-form{
  color:black
}

.or-text{
  position: relative;
}

.or-text::after{
  content: '';
  position: absolute;
  height: 1px;
  background-color: gold;
  width: 150px;
  right: 20px;
  top: 25px;
}

.or-text::before{
  content: '';
  position: absolute;
  height: 1px;
  background-color: gold;
  width: 150px;
  left: 20px;
  top: 25px;
}

.bi{
  cursor: pointer;
}

.bi:hover{
  transform: scale(1.2);
  box-shadow: 3px 3px 3px gold;
  border-radius:50%;
}

.btn:hover{
  transform: scale(1.2);
  box-shadow: 3px 3px 3px gold;
}

@media screen and (min-width: 350px) and (max-width: 768px) {

  .wrapper {
    min-height: 100vh;
    min-width: 100vw;
    padding: 10%;
  }

  .tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2px;
  }
  
  .link {
    padding: 5px 40px;
    background-color: rgba(255, 0, 0, 0.16);
    cursor: pointer;
    position: relative;
    font-size: 20px;
  }

  .or-text::after{
    content: '';
    position: absolute;
    height: 1px;
    background-color: gold;
    width: 120px;
    right: -35px;
    top: 18px;
  }
  

  .or-text::before{
    content: '';
    position: absolute;
    height: 1px;
    background-color: gold;
    width: 120px;
    left: -38px;
    top: 18px;
  }
}